.admin{
    width: 1000px;
    display: flex;
    flex-direction: column;

    .recipe_table{
        width: 1000px;

        table{
            width: 1000px;
        }
    }
}

.actions{
    flex:.5; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}