$media-mobile: "only screen and (max-width : 600px)";

$primary_color:white;
$secondary_color:rgba(255, 255, 255, 0.75);
$tertiary_color:rgba(255, 255, 255, 0.5);
$bg-secondary:rgba(0, 3, 14, 0.5);
$bg-tertiary:rgb(0, 6, 32);

.admin-main{
    display: flex;
    flex-direction: row;
    width:100%;
    background-color: $bg-secondary;
    height: 100vh;
}
.admin-nav{
    width: 5rem;
    padding: 4rem 1rem;
    position: sticky;
    left: 0;
    top: 0;
    div{
        display: flex;
        flex-direction: column;
        span,a{
            margin: 1rem auto;
            text-decoration: none;
            color: white;
        }
        span:hover,a:hover{
            color: rgba(0, 0, 0, 0.459);
        }
    }
}
.admin-body{
    flex: 1;
    .m-auto{
        margin: 0 auto;
    }
}

@media #{$media-mobile}{
    .admin-main{
        display: flex;
        flex-direction: column;
    }
    .admin-nav{
        padding: 0;
        width: 100%;
        position: sticky;
        top:0;
        div{
            width: fit-content;
            margin: 0 auto;
            display: flex;
            flex-direction: row;

            span,a{
                margin: 10px 0.75rem;
            }
        }
    }
}